//VARIABLES
$light-green: #00e0d0;
$black: #413d4b;
$gray: #b5b5b6;
$light-purple: #9a93ad;

/*
font-family: 'Playfair Display', serif;
font-weight: 400; -> Regular

font-family: 'Playfair Display', serif;
font-weight: 900; -> Black

font-family: 'Roboto', sans-serif;
font-weight: 300; -> Light

font-family: 'Roboto', sans-serif;
font-weight: 400; -> Regular

font-family: 'Roboto', sans-serif;
font-weight: 900; -> Black
*/

body{
    text-align: center;
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #fff;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.background{
    background: url(../imgs/header.jpg);
    background-size: cover;
}
.learnmore-button{
    padding: 1em 1.5em;
    border: 0.2em solid $light-green;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: $light-green;
    text-decoration: none;
}
.learnmore-button:hover{
    color: $light-green;
}
//header
.top-bar{
    width: 100%;
    padding: 0;
    margin: 0;
}
.top-nav{
    padding: 2em 0 0 0;
    margin: 0;
}
.top-nav-item{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
}
.top-nav-link{
    padding: .3em 1em;
    margin: 0;
    display: block;
    color: #fff;
    text-decoration: none;
}
.top-nav-link:hover{
    color: $light-green;
}
//header
//intro-section
.intro-section{
    padding: 10em 0 20em;
    margin: 0 33em;
}
.line{
    height: .1em;
    width: 4em;
    margin: 1.25em auto;
    background: $light-green;
}
.intro-text{
    padding: 0;
    margin: 1.5em auto 3.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2em;
    color: #fff;
}
//intro-section
//about-section
.about-section{
    padding: 0;
    margin: 6em 25em;
    background: #fff;
}
.about-info{
    text-align: left;
    color: $black;
}
.section-tittle{
    margin: 0 0 .7em;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
.about-text{
    margin-bottom: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
//about-section