$ligth-purple: #573280;
$purple: #23022E;
$gray: #E3E4E5;

$regular: 400;
$bold: 700;

/* Extra small devices (portrait phones, less than 820px) */
//@media (max-width: 820px)
@media screen and (max-width: 820px) {

    body {
        position: relative;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        background: white;
    }

    header {
        margin: 0;
        padding: 0 1.25em;
        padding-top: 2.5em;
        padding-bottom: 3.75em;
    }

    footer {
        padding: 1.3125em 1.25em 1.5625em;
        background: linear-gradient($ligth-purple, $purple);
        color: $gray;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
    }

    //background-top
    .background-top {
        background: linear-gradient($purple, $ligth-purple);
    }
    //background-top
    //header
    .top-bar {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .background-dark {
        display: none;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
    }

    .top-nav {
        padding: 1.25em 1.25em 0;
        padding-bottom: 3.625em;
        margin: 0;
        position: fixed;
        top: 0;
        left: -24em;
        width: 18.625em;
        height: 100%;
        background: $gray;
        transition: .5s;
        text-align: left;
        overflow-y: auto;
        z-index: 3;
    }

    .top-nav-item {
        display: block;
        padding: 0;
        margin: 0;
        font-weight: $bold;
        font-size: 20px;
    }

    .top-nav-link {
        padding: 0;
        margin: 0;
        display: block;
        color: $purple;
        text-decoration: none;
    }

    .tittle-categorias {
        margin-bottom: 0.5em;
    }

    .categorias {
        display: block;
        margin-bottom: 0.3125em;
        padding-left: 0.375em;
        font-size: 16px;
        font-weight: $regular;
    }

    .mob-menu {
        display: block;
        color: $gray;
        font-size: 2.5em;
        position: absolute;
    }

    .background-search {
        padding: 0;
        margin: 0;
        margin-bottom: 1.4375em;
        width: 8.1em;
        background: linear-gradient(to right, $ligth-purple, $purple);
        border-radius: 3px;
    }

    .input-search {
        padding: 0;
        margin: 0.375em;
        width: 7.2271875em;
        border-radius: 3px;
        font-size: 16px;
    }

    .icon-search {
        padding: 0;
        margin-right: 0.375em;
        color: $gray;
    }

    .mob-close {
        display: block;
        color: $ligth-purple;
        font-size: 2.5em;
        position: absolute;
        right: .5em;
    }

    .logo-header {
        padding: 0;
        margin: 0;
        height: 33.25px;
        width: 139.174px;
    }

    //header
    //event-section
    .event-section {
        margin: 0;
        padding: 0 1.25em;
        padding-bottom: 2.5em;
        color: $gray;
    }

    .tittle-event {
        margin: 0;
        margin-bottom: 0.3125em;
        padding: 0;
        font-size: 24px;
        font-weight: $bold;
    }

    .img-event {
        margin: 0;
        margin-bottom: 0.3125em;
        padding: 0;
        width: 100%;
        height: 222px;
        background: $gray;
    }

    .container-price {
        margin: 0.3125em 0;
        padding: 0;
        text-align: center;
    }

    .price {
        margin: 0;
        padding: 0;
        color: $gray;
        font-size: 20px;
        font-weight: $bold;
    }

    .registration-btn {
        display: inline-block;
        margin: 0;
        padding: 0.5em 1.25em;
        width: 100%;
        border-radius: 3px;
        font-size: 18px;
        font-weight: $regular;
        border: none;
        background-color: $gray;
        color: $purple;
        text-decoration: none;
        text-align: center;
    }

    //event-section

    //modals
    .modal{
        color: $purple;
    }
    .modal-header{
        border: none;
    }
    .container-popup {
        background-color: $gray;
    }

    .logo-header-popup {
        padding: 0;
        margin: 0;
        height: 33.25px;
        width: 139.174px;
    }

    .tittle-modal {
        color: $purple;
        font-weight: $bold;
        font-size: 20px;
    }

    .sub-tittle-modal {
        color: $purple;
        font-weight: $regular;
        font-size: 15px;
        text-transform: uppercase;
    }

    .row-modal {
        width: 90%;
        margin-bottom: 1em;
        align-items: center;
    }

    .line-modal{
        height: .06em;
        width: 100%;
        background: $ligth-purple;
    }
    .form-modal{
        margin: 0;
        margin-top: .5em;
    }
    .tittle-form{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    .input-form{
        margin: .2em 0;
        width: 100%;
        border: .2em solid $ligth-purple;
        border-radius: .2em;
        background-color: $gray;
        color: $ligth-purple;
    }
    .modal-footer{
        margin-top: 1em;
        margin-bottom: 2em;
        border: none;
    }
    .input-cantidad {
        width: 6em;
        border: .2em solid $ligth-purple;
        border-radius: .2em;
        text-align: center;
        background-color: $gray;
        color: $ligth-purple;
    }

    .modal-btn {
        display: inline-block;
        margin: 0;
        padding: 0.5em 1.25em;
        width: 100%;
        border-radius: 3px;
        font-size: 18px;
        font-weight: $bold;
        border: none;
        background: linear-gradient(to right, $ligth-purple, $purple);
        color: $gray;
        text-transform: uppercase;
    }
    .header-resume{
        text-align: center;
    }
    .check{
        height: 106px;
        width: 106px;
        color: $ligth-purple;
    }
    .tittle-resume{
        margin: auto;
        margin-top: 1em;
        font-size: 20px;
        font-weight: $bold;
        text-transform: uppercase;
        color: $ligth-purple;
    }
    .resumen{
        margin-bottom: 2em;
        color: $ligth-purple;
    }
    .subtittle-resume{
        margin-bottom: .5em;
        font-size: 20px;
    }
    .form-check{
        margin-bottom: .5em;
    }
    .metodos-pago-mobile{
        margin-bottom: 1em;
    }
    .logo-visa-mobile{
        margin: 0 1em;
        width: 60px;
    }
    .logo-paypal-mobile{
        margin: 0 2.25em;
        width: 20px;
    }
    //modal

    //description-section
    .description-section {
        margin: 0;
        margin-top: 1.25em;
        margin-bottom: 2.5em;
        padding: 0 1.25em;
        background: white;
        text-align: center;
    }

    .tittle-description {
        margin: 0;
        margin-bottom: 0.3125em;
        padding: 0;
        font-size: 24px;
        font-weight: $bold;
        color: $purple;
    }

    .container-description {
        text-align: left;
    }

    .info-event {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: $regular;
        color: $ligth-purple;
    }

    .icon-info {
        margin-right: 0.3125em;
        color: $purple;
    }

    .info-event-description {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: $regular;
        color: $purple;
    }

    //description-section

    //related-section
    .related-section {
        margin: 0;
        margin-bottom: 2.5em;
        padding: 0 1.25em;
        background: white;
        text-align: center;
    }

    .tittle-related {
        margin: 0;
        margin-bottom: 0.3125em;
        padding: 0;
        font-size: 24px;
        font-weight: $bold;
        color: $purple;
    }

    .container-event-related {
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .img-event-related {
        margin: 0;
        margin-bottom: 0.3125em;
        padding: 0;
        width: 100%;
        height: 222px;
        background: $gray;
        background-size: contain;
    }

    .tittle-event-related {
        margin: 0;
        margin-left: 0.9375em;
        padding: 0;
        font-size: 20px;
        font-weight: $bold;
        color: $purple;
    }

    //related-section

    //footer
    .bottom-nav {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .bottom-nav-iteam {
        display: block;
        padding: 0;
        padding-right: .8em;
    }

    .bottom-nav-link {
        color: $gray;
        text-decoration: none;
    }

    .text-footer {
        margin: 0;
        padding: 0;
        font-size: 7px;
    }

    .logo-footer {
        padding: 0;
        margin: 0;
        width: 102.696px;
        height: 24.535px;
    }

    .btn-up {
        margin-left: 4em;
        margin-top: .25em;
        font-size: 18px;
        text-decoration: none;
        color: $gray;
    }
    //footer

}