$ligth-purple: #573280;
$purple: #23022E;
$gray: #E3E4E5;

$regular: 400;
$bold: 700;

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: white;
}

header {
    padding: 0 15em;
    padding-top: 4em;
    padding-bottom: 6em;
}

footer {
    padding: 4em 15em;
    background: linear-gradient($ligth-purple, $purple);
    color: $gray;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

//background-top
.background-top {
    background: linear-gradient($purple, $ligth-purple);
}

//background-top

//header
.logo-header {
    margin: 0;
    padding: 0;
    float: left;
    height: 70px;
}

.mob-menu {
    display: none;
}

.mob-close {
    display: none;
}

.top-bar {
    padding-bottom: 5em;
    width: 100%;
}

.top-nav {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    float: right;
}

.top-nav-item {
    margin: 0 1em;
    display: inline-block;
}

.top-nav-link {
    color: $ligth-purple;
    text-decoration: none;
    font-size: 25px;
    font-weight: $bold;
}

.background-search {
    padding: .3em;
    margin: 0;
    background: $gray;
    border-radius: 3px;
}

.input-search {
    margin-left: .5em;
    border-radius: 3px;
    font-size: 20px;
    background: $gray;
    color: $ligth-purple;
    border: none;
}

.icon-search {
    margin: 0 .5em;
    color: $ligth-purple;
    font-size: 20px;
}

.tittle-categorias {
    margin-bottom: 0.5em;
    color: $gray;
    font-weight: $bold;
}

//header

//intro-section
.intro-section {
    margin: 0;
    padding: 0 15em;
    text-align: center;
    color: $gray;
}

.tittle-intro {
    margin: 0 4em;
    margin-bottom: 1em;
    padding: 0;
    font-size: 60px;
    font-weight: $bold;
}

.subtittle-intro {
    margin: 0;
    margin-bottom: 2.5em;
    padding: 0;
    font-size: 30px;
    font-weight: $regular;
}

.container-newsletter {
    margin: 0 30em;
    padding: 0;
    padding-bottom: 5em;
}

.background-newsletter {
    margin: 0;
    padding: 0;
    border: 15px solid $gray;
    border-radius: 3px;
    position: relative;
    background: $gray;
}

.input-email {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: $regular;
    text-align: center;
    background-color: $gray;
    color: $ligth-purple;
}

.submit-btn {
    display: inline-block;
    padding: 0.5em 1.25em;
    width: 100%;
    border-radius: 3px;
    font-size: 20px;
    border: none;
    background-color: $purple;
    color: $gray;
}

//intro-section

//events-section
.events-section {
    margin: 0;
    margin-top: 3.5em;
    margin-bottom: 6em;
    padding: 0 15em;
    background: white;
}

.tittle-section {
    margin: 0;
    margin-bottom: 1.25em;
    padding: 0;
    font-size: 40px;
    font-weight: $bold;
    color: $purple;
}

.row-events {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
}

.container-event {
    margin: 0;
    padding: 0;
}

.img-event {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: $gray;
    background-size: contain;
}

.tittle-event {
    margin: 0.25em 0em;
    padding: 0;
    font-size: 30px;
    font-weight: $bold;
    color: $purple;
}

.info-event {
    margin: 0.25em 0em;
    padding: 0;
    font-size: 20px;
    font-weight: $regular;
    color: $ligth-purple;
}

.icon-info {
    margin-right: 0.3125em;
    margin-left: 0.5em;
}

//events-section

//footer
.bottom-nav {
    margin: 0;
    padding: 0;
    display: flex;
}

.bottom-nav-iteam {
    display: block;
    padding: 0;
    padding-right: 15em;
}

.bottom-nav-iteam-up {
    display: block;
}

.text-footer {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.logo-footer {
    padding: 0;
    margin: 0;
    height: 70px;
}

.btn-up {
    padding-left: 9em;
    margin-top: .5em;
    font-size: 35px;
    text-decoration: none;
    color: $gray;
    float: left;
}

//footer

/* Extra small devices (portrait phones, less than 820px) */
//@media (max-width: 820px)
//@media screen and (max-width: 400px) {
@media (max-width: 820px) {
    html {
        scroll-behavior: smooth;
    }

    header {
        margin: 0;
        padding: 0 1.25em;
        padding-top: 2.5em;
        padding-bottom: 3.75em;
    }

    footer {
        padding: 1.3125em 1.25em 1.5625em;
        background: linear-gradient($ligth-purple, $purple);
        color: $gray;
    }

    //header
    .top-bar {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .background-dark {
        display: none;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.65);
    }

    .top-nav {
        display: block;
        padding: 1.25em 1.25em 0;
        padding-bottom: 3.625em;
        margin: 0;
        position: fixed;
        top: 0;
        left: -24em;
        width: 18.625em;
        height: 100%;
        background: $gray;
        transition: .5s;
        text-align: left;
        overflow-y: auto;
        z-index: 3;
    }

    .top-nav-item {
        display: block;
        padding: 0;
        margin: 0;
        font-weight: $bold;
        font-size: 20px;
    }

    .top-nav-link {
        padding: 0;
        margin: 0;
        display: block;
        color: $purple;
        text-decoration: none;
        font-size: 16px;
        font-weight: $regular;
    }

    .tittle-categorias {
        margin-bottom: 0.5em;
        color: $purple;
        font-size: 20px;
        font-weight: $bold;
    }

    .dropdown-menu {
        background: none;
        border: none;
    }

    .mob-menu {
        display: block;
        color: $gray;
        font-size: 2.5em;
        position: absolute;
    }

    .categorias-mobile {
        display: block;
    }

    .background-search {
        padding: 0;
        margin: 0;
        margin-bottom: 1.4375em;
        width: 8.1em;
        background: linear-gradient(to right, $ligth-purple, $purple);
        border-radius: 3px;
    }

    .input-search {
        padding: 0;
        margin: 0.375em;
        width: 7.2271875em;
        border-radius: 3px;
        font-size: 16px;
    }

    .icon-search {
        padding: 0;
        margin: 0;
        margin-right: 0.375em;
        color: $gray;
    }

    .mob-close {
        display: block;
        color: $ligth-purple;
        font-size: 2.5em;
        position: absolute;
        right: .5em;
    }

    .logo-header {
        padding: 0;
        margin: 0;
        height: 33.25px;
        width: 139.174px;
        float: none;
    }

    //header

    //intro-section
    .intro-section {
        margin: 0;
        padding: 0 1.25em;
        text-align: center;
        color: $gray;
        z-index: 1;
    }

    .tittle-intro {
        margin: 0;
        margin-bottom: 1.25em;
        padding: 0;
        font-size: 25px;
        font-weight: $bold;
        line-height: 1.5em;
    }

    .subtittle-intro {
        margin-bottom: 2.5em;
        padding: 0;
        font-size: 22px;
        font-weight: $regular;
        line-height: 1.5em;
    }

    .container-newsletter {
        margin: 0;
        padding: 0;
        padding-bottom: 2.5em;
    }

    .background-newsletter {
        margin: 0;
        padding: 0;
        border: 15px solid $gray;
        border-radius: 3px;
        position: relative;
        background: $gray;
    }

    .input-email {
        margin: 0;
        padding: 0.9375em;
        width: 100%;
        border: none;
        font-size: 15px;
        font-weight: $regular;
        text-align: center;
        background-color: $gray;
        color: $ligth-purple;
    }

    .submit-btn {
        display: inline-block;
        padding: 0.9375em 1.25em;
        width: 100%;
        border-radius: 3px;
        font-size: 15px;
        border: none;
        background-color: $purple;
        color: $gray;
    }

    .submit-btn:hover {
        background-color: $ligth-purple;
    }

    //intro-section

    //events-section
    .events-section {
        margin: 0;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        padding: 0 1.25em;
        background: white;
    }

    .tittle-section {
        margin: 0;
        margin-bottom: 1.25em;
        padding: 0;
        font-size: 24px;
        font-weight: $bold;
        color: $purple;
    }

    .container-event {
        margin: 0;
        padding: 0;
        margin-bottom: 1.25em;
    }

    .row-events {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .link-event {
        margin: 0;
        padding: 0;
    }

    .img-event {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: $gray;
        background-size: contain;
    }

    .tittle-event {
        margin: 0.3125em 0.9375em;
        padding: 0;
        font-size: 24px;
        font-weight: $bold;
        color: $purple;
    }

    .icon-info {
        margin-right: 0.3125em;
        margin-left: 0.5em;
    }

    .info-event {
        margin: 0.3125em 0.9375em;
        padding: 0;
        font-size: 18px;
        font-weight: $regular;
        color: $ligth-purple;
    }

    //events-section

    //footer
    .bottom-nav {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .bottom-nav-iteam {
        display: block;
        padding: 0;
        padding-right: .8em;
    }

    .bottom-nav-iteam-up {
        display: block;
    }

    .bottom-nav-link {
        color: $gray;
        text-decoration: none;
    }

    .text-footer {
        margin: 0;
        padding: 0;
        font-size: 7px;
    }

    .logo-footer {
        padding: 0;
        margin: 0;
        width: 102.696px;
        height: 24.535px;
    }

    .btn-up {
        padding-left: 4em;
        margin-top: .25em;
        font-size: 18px;
        text-decoration: none;
        color: $gray;
        float: none;
    }


    //footer
}